@page "/add-game"
@using GameStore.Models
@using GameStore.Services
@inject GamesService GamesService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Add Game</PageTitle>

<div class="row justify-content-center mt-5">
    <div class="col-8">
        <EditForm Model="Game" OnValidSubmit="Save" FormName="AddGameForm" autocomplete="off">
            <h3>Add New Game</h3>

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <InputText id="title" class="form-control" @bind-Value="Game.Title" />
            </div>

            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <InputText id="genre" class="form-control" @bind-Value="Game.Genre" />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <InputTextArea id="description" class="form-control" @bind-Value="Game.Description" />
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <InputNumber id="price" class="form-control" @bind-Value="Game.Price" />
            </div>

            <div class="mb-3">
                <label for="platform" class="form-label">Platform</label>
                <InputText id="platform" class="form-control" @bind-Value="Game.Platform" />
            </div>

            <div class="mb-3">
                <label for="condition" class="form-label">Condition</label>
                <InputSelect id="condition" class="form-select" @bind-Value="Game.Condition" TValue="GameCondition">
                    @foreach (var c in Enum.GetValues<GameCondition>())
                    {
                        <option value="@c">@c</option>
                    }
                </InputSelect>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Game Game { get; set; } = new();

    private async Task Save()
    {
        await GamesService.AddGameAsync(Game);
        NavigationManager.NavigateTo("/home");
    }
}
